contourpy==1.0.7
cycler==0.11.0
dataclasses-json==0.5.7
Deprecated==1.2.14
fonttools==4.39.4
imageio==2.30.0
importlib-resources==5.12.0
kiwisolver==1.4.4
lazy_loader==0.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
mypy-extensions==1.0.0
networkx==3.1
numpy==1.24.3
packaging==23.1
Pillow==9.5.0
pygltflib==1.15.6
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.4.1
scikit-image==0.20.0
scipy==1.9.1
six==1.16.0
tifffile==2023.4.12
tqdm==4.65.0
typing-inspect==0.9.0
typing_extensions==4.6.2
wrapt==1.15.0
zipp==3.15.0
